._6U9PCy7Z5DvPG3_pSFaKb {
  color: white;
  border: none;
  background-color: #7552cc;
  border-color: #7552cc;
  height: 2.5em;
  text-align: center;
  line-height: 0 !important; }

._1n6IKcZpxmVGS8AsyB0FNE {
  font-size: 0.8em;
  font-weight: 600; }

._1nUuHIC6teQar6gT23ts4k:hover {
  background-color: #ecd7ff;
  color: #7552cc; }

.pBhI-EJGauX3xo4ppWYN- {
  margin-right: 2em;
  color: #7552cc; }

.pBhI-EJGauX3xo4ppWYN-:hover {
  color: #ecd7ff; }

._1qWatyoD_HzRdZWSogrK6c {
  height: 4em;
  width: 100%;
  position: fixed !important;
  z-index: 10; }

.WyyzDQCiP-Tmb-onCSigs {
  position: absolute;
  left: 1em; }

.mjaM6T5z_krqmoPBIzkJP {
  position: absolute;
  right: 1em;
  font-size: 1.3em; }

._3yAgf8rEdS_5d7xQ0oAwTw {
  display: none; }

._2T5ssWMgfWOYvaZfgOv-Em {
  background-color: white;
  box-shadow: 0px 6px 22px -9px rgba(0, 0, 0, 0.75); }

.VrwtJ7sip5Jje0GsNCF4Z {
  display: inline-block;
  width: 3em;
  height: 3em; }

@media (min-width: 576px) {
  .WyyzDQCiP-Tmb-onCSigs {
    left: 2em; }
  .mjaM6T5z_krqmoPBIzkJP {
    right: 2em; } }

@media (min-width: 992px) {
  ._3yAgf8rEdS_5d7xQ0oAwTw {
    display: inline-block; }
  .pH8w9scQLnwjbBqBnZ_ze {
    width: 3.5em;
    height: 3.5em; }
  ._1qWatyoD_HzRdZWSogrK6c {
    height: 4.5em; } }

/* dark af blue */
/* kinda blue kinda purple */
/* purple */
/* light purple */
/* lighter purple */
/* even lighter purple */
/* light blue */
/* light ass blue */
._1rnj3yyf079ovOWEj4n8po,
._2g60bJdSAqM705zGWDao1r {
  z-index: 10; }

._2g60bJdSAqM705zGWDao1r,
._1kcJrq5mOf7rWZ91ulP01y {
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1); }

._2g60bJdSAqM705zGWDao1r {
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: flex;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #a373f9;
  background-color: white;
  border: none;
  transition: background-color 0.5s ease-in-out, transform 0.2s ease-in-out; }

._2g60bJdSAqM705zGWDao1r:hover {
  transform: scale(1.05); }

._11_K_PG2TH35QgbuGCDQTk {
  color: white !important;
  background-color: #a373f9 !important; }

._2g60bJdSAqM705zGWDao1r:focus {
  outline: 0; }

._3ZsoAMc7AiiUZ5u0UqDEgN {
  font-size: 1.5em; }

._1rnj3yyf079ovOWEj4n8po {
  position: fixed;
  bottom: 2em;
  right: 6em;
  padding-right: 1em; }

._1kcJrq5mOf7rWZ91ulP01y {
  height: 100%;
  padding: 1em;
  border-radius: 1.5em;
  background-color: white;
  transition: transform 0.2s ease-in-out; }

._1kcJrq5mOf7rWZ91ulP01y:hover {
  transform: scale(1.03); }

._1kcJrq5mOf7rWZ91ulP01y ul {
  list-style: none;
  padding: 0.5em;
  margin: 0;
  text-align: center; }

._1kcJrq5mOf7rWZ91ulP01y ul li {
  font-size: 1.5em;
  font-family: 'Roboto Slab';
  padding-top: 0.25em;
  opacity: 1;
  transition: transform 0.25 ease-in-out, opacity 0.25s; }

._1kcJrq5mOf7rWZ91ulP01y ul li:first-child {
  padding-top: 0; }

._1kcJrq5mOf7rWZ91ulP01y ul li:hover {
  transform: scale(1.05);
  color: #c596fe; }

._1kcJrq5mOf7rWZ91ulP01y ul li:active {
  color: #a373f9; }

._3BOTwRD-Hvel0EKOgB9ABo {
  display: block;
  position: absolute;
  bottom: 24vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 0.4em;
  font-family: 'Roboto'; }

._3BOTwRD-Hvel0EKOgB9ABo p {
  margin: 0 auto;
  font-size: 2em;
  color: white; }

._3BOTwRD-Hvel0EKOgB9ABo span {
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 300; }

@media (min-width: 350px) {
  ._3BOTwRD-Hvel0EKOgB9ABo {
    font-size: 0.6em; } }

@media (min-width: 576px) {
  ._3BOTwRD-Hvel0EKOgB9ABo {
    font-size: 0.8em;
    bottom: 18vh; } }

@media all and (min-width: 992px) and (max-height: 550px) {
  ._3BOTwRD-Hvel0EKOgB9ABo {
    display: none; } }

@media all and (max-height: 450px) {
  ._3BOTwRD-Hvel0EKOgB9ABo {
    display: none; } }

._2EttIZxSospN_ddXksobQL,
._3ILf2inkP0wJv2YJW-TsxG {
  font-family: 'Roboto Slab';
  font-weight: 200;
  text-align: center; }

._2EttIZxSospN_ddXksobQL {
  font-size: 2.25em;
  margin: 0.3em 0;
  padding: 0; }

._3ILf2inkP0wJv2YJW-TsxG {
  margin-bottom: 1em;
  font-size: 1.25em; }

.JHUyHEw4JA4lsxWh5-JfG {
  margin: 0;
  margin-bottom: 3em;
  padding: 3em;
  width: 100%;
  background-color: white;
  border-radius: 1.5em;
  padding-top: 3em;
  padding-bottom: 4em;
  transform: scale(0.995);
  transition: transform 0.3s ease-in-out; }
  @media (max-width: 768px) {
    .JHUyHEw4JA4lsxWh5-JfG {
      padding-left: 0;
      padding-right: 0; } }
  .JHUyHEw4JA4lsxWh5-JfG:hover {
    transform: scale(1); }

._2lWoe5YDairE7Nwt3jrizp {
  min-height: 90vh; }

._1s7pcuLWw2kGgc4ixxGI6s {
  padding-bottom: 1em; }

@media (max-width: 767.98px) {
  ._2EttIZxSospN_ddXksobQL {
    margin: 0.1em 0;
    font-size: 1.7em; }
  ._3ILf2inkP0wJv2YJW-TsxG {
    margin-bottom: 0.5em;
    font-size: 1.2em; } }

._2pDvEXACjdd8LwRZriPeJ3 {
  padding-top: 1em; }

._3cOBENGpiyEEKS5X_PKsWQ {
  min-height: 0; }

._1dMr56aXm70b3B4YqILoVb {
  display: flex;
  justify-content: flex-start;
  width: 100%; }

._1dMr56aXm70b3B4YqILoVb i {
  padding-right: 2em;
  font-size: 2em;
  color: #7552cc; }

._1dMr56aXm70b3B4YqILoVb i:hover {
  color: #ecd7ff; }

/* dark af blue */
/* kinda blue kinda purple */
/* purple */
/* light purple */
/* lighter purple */
/* even lighter purple */
/* light blue */
/* light ass blue */
.c_NOEUWwNNeJgIxsRiBnU {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: none; }
  .c_NOEUWwNNeJgIxsRiBnU::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #a373f9;
    top: 20px;
    bottom: 0;
    left: calc(12% + 1px);
    margin-left: -3px; }
    @media (min-width: 768px) {
      .c_NOEUWwNNeJgIxsRiBnU::after {
        left: calc(12% + 1px); } }
    @media (min-width: 992px) {
      .c_NOEUWwNNeJgIxsRiBnU::after {
        left: calc(37% + 1px); } }

._1z6SjfjJTNGvhpVgjBCW00 {
  font-weight: 200;
  color: #a373f9; }

._22TS9dkUQ3stwlZ2FumQV5 {
  position: relative;
  margin: 0;
  padding: 1em 0;
  width: 100%; }
  ._22TS9dkUQ3stwlZ2FumQV5::after {
    /* circle thing on line */
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: calc(12% - 13px);
    background-color: white;
    border: 3px solid #a373f9;
    top: 20px;
    border-radius: 50%;
    z-index: 1; }
    @media (min-width: 768px) {
      ._22TS9dkUQ3stwlZ2FumQV5::after {
        left: calc(12% - 13px); } }
    @media (min-width: 992px) {
      ._22TS9dkUQ3stwlZ2FumQV5::after {
        left: calc(37% - 13px); } }

.CnYNKjK97EBOO5OziLeKj {
  font-family: 'Roboto Slab';
  margin-bottom: 0.5em;
  font-size: 1.2em;
  text-align: left; }
  @media (min-width: 992px) {
    .CnYNKjK97EBOO5OziLeKj {
      text-align: right;
      font-size: 1em; } }

._17zhjnDp25yJIkwX-MbJdP {
  font-size: 1.1em;
  font-weight: 600;
  padding: 0;
  margin: 0; }

/* dark af blue */
/* kinda blue kinda purple */
/* purple */
/* light purple */
/* lighter purple */
/* even lighter purple */
/* light blue */
/* light ass blue */
._3puyQWico7Ah0hUk87mevl {
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
  transition: all 0.3s ease-in-out;
  height: 100%;
  margin-bottom: 1em; }

._3puyQWico7Ah0hUk87mevl:hover {
  box-shadow: 0 0 0 4px #7552cc, 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.01);
  cursor: pointer; }

._3puyQWico7Ah0hUk87mevl:hover ._320oRX6yuO_I-RfPRxCd89 {
  background-image: linear-gradient(-135deg, #c7fffb 10%, #7552cc, #1d1554); }

._1A0kGWbCNKWbiE3_TmOxrr {
  font-family: 'Roboto Slab'; }

._11pJtT95k9UvqmD73SdJp0 {
  margin-bottom: 1em; }

._1mRVF93Ij4dYwSOAeW0gDH {
  padding: 1em; }

.bGpKvK_mYCkf-HlzLEhQt {
  font-family: 'Roboto Slab'; }

._1Kq1jJ2JSEVUWOxliHvajY {
  padding-top: 1.5em;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 1.2em; }

.S2M-R9LKrmpKr3i0N1Ww2 {
  float: right; }

._1eEtDknkTQaNogbU-zeqF5 {
  float: none; }

._1QQO3upOcioOcxhSJ5TYMG {
  padding: 0.5em;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 0.5em; }

._2Ichx0JK3HVrffGmLNurVD {
  margin: 0; }

._134xdHyFN3W8A3CpQDZksX {
  margin-top: 0.75em; }

._2VyfciYrSTnYEEAzLX7z2r p {
  margin-bottom: 0.3em; }

@media (max-width: 767.98px) {
  .nwSIJciw9Rpati_6oa05z {
    padding: 0.5em; }
  ._2Ichx0JK3HVrffGmLNurVD {
    margin-bottom: 0; } }

/* dark af blue */
/* kinda blue kinda purple */
/* purple */
/* light purple */
/* lighter purple */
/* even lighter purple */
/* light blue */
/* light ass blue */
._1Tk6Gx_UgBBeSiFcDXVR8B {
  background-color: #7552cc; }

._1Tk6Gx_UgBBeSiFcDXVR8B:focus,
._1Tk6Gx_UgBBeSiFcDXVR8B:hover,
._1Tk6Gx_UgBBeSiFcDXVR8B:active {
  background-color: #a373f9; }

._3UjzeVgJqxfV-msAVF4ehg {
  margin: 0.75em auto; }

._3UjzeVgJqxfV-msAVF4ehg h3 {
  margin-bottom: 0.75em;
  font-size: 1.75em; }

@media (max-width: 767.98px) {
  ._3UjzeVgJqxfV-msAVF4ehg h3 {
    font-size: 1.5em; }
  ._1Hc07Cuf4NJZltLmhDAlU {
    font-size: 1.1em; } }

/* dark af blue */
/* kinda blue kinda purple */
/* purple */
/* light purple */
/* lighter purple */
/* even lighter purple */
/* light blue */
/* light ass blue */
._8-0sMCIhW7pLxL-Bg8HcI {
  padding-bottom: 4em; }

._2CdNgS5szpcmxpBm0Mi8Qd {
  padding-top: 1em; }

._2Kn9xF6Sf_jNNu51_BHx6W {
  padding-bottom: 3em; }

._2Kn9xF6Sf_jNNu51_BHx6W h3 {
  font-family: 'Roboto';
  font-weight: 100; }

.AWl98lT3BwXbR7n6EpItf {
  transition: transform 0.33s ease-in-out; }

.AWl98lT3BwXbR7n6EpItf:hover {
  transform: scale(1.05); }

/* Footer Styles */
footer {
  padding: 2em;
  padding-top: 5em; }

._2zcUjErckp2fu4Itt-Dydp {
  margin: 0 auto;
  font-weight: 200;
  font-size: 0.8em; }

._2zcUjErckp2fu4Itt-Dydp p {
  color: white;
  margin: 0 auto; }

._3YqIT04jeQDDVu3BOH3r39 {
  font-size: 0.85em;
  margin: 10px auto;
  font-weight: 400; }

.DxXzG04bWjbPAbfWzaf_3 {
  font-size: 0.7em; }

._2Ce00CZg3RM-ioXoZ8cFX7 {
  color: #c7fffb; }

/* Landing Styles */
._3VvbmwOI9jlEw6A2j1dCyL {
  padding-top: 20vh; }

._1DaDhq9EC-bg9OrDoFfDad {
  display: block;
  width: 20em;
  height: 4.5em;
  margin: 0.1em auto;
  fill: white; }

.XfICaREPiAriTXwqaa9ym {
  margin: 10px auto;
  margin-top: 1.3em;
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 1.6em;
  color: white; }

._1hQzJ1wS-nHXfQGowhgOqW {
  margin: 10px auto;
  font-weight: 100;
  font-size: 0.8em;
  font-family: 'Roboto Slab'; }

@media (min-width: 576px) {
  ._1DaDhq9EC-bg9OrDoFfDad {
    width: 30em;
    height: 6em; }
  .XfICaREPiAriTXwqaa9ym {
    font-size: 1.9em; }
  ._1hQzJ1wS-nHXfQGowhgOqW {
    font-size: 0.8em; }
  ._5ysS_bSHg0G-Gat6s55Wk {
    font-size: 1em; } }

@media (min-width: 992px) {
  .XfICaREPiAriTXwqaa9ym {
    font-size: 2.1em;
    margin-top: 2em; }
  ._1DaDhq9EC-bg9OrDoFfDad {
    width: 35em;
    height: 6em; }
  ._1hQzJ1wS-nHXfQGowhgOqW {
    font-size: 1.1em; } }

@media all and (min-width: 992px) and (max-height: 550px) {
  .XfICaREPiAriTXwqaa9ym {
    display: none; }
  ._1hQzJ1wS-nHXfQGowhgOqW {
    display: none; } }

@media all and (max-height: 450px) {
  .XfICaREPiAriTXwqaa9ym {
    display: none; }
  ._1hQzJ1wS-nHXfQGowhgOqW {
    display: none; } }

/*  Scroll Down Button */
._17T-ezty9xzZvz5ihVI9JR {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s; }

._2I9cC5nhx5tpTyRn1GZFH2 {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100px;
  color: white;
  left: -34px; }

._17T-ezty9xzZvz5ihVI9JR {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: _2WBGQ-uQCjZZ1e_YAaj7gk 2s infinite 2s;
  animation: _2WBGQ-uQCjZZ1e_YAaj7gk 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

._17T-ezty9xzZvz5ihVI9JR:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: '';
  border: 2px solid white;
  border-width: 0px 0 2px 2px; }

@keyframes _2WBGQ-uQCjZZ1e_YAaj7gk {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); } }



/*# sourceMappingURL=styles.chunk.css.map*/